@font-face {
  font-family: "Noto Sans";
  src: url(/assets/fonts/static/NotoSans-Regular.ttf);
}
@font-face {
  font-family: "Noto Sans";
  src: url(/assets/fonts/static/NotoSans-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "Noto Sans";
  src: url(/assets/fonts/static/NotoSans-Bold.ttf);
  font-weight: 700;
}

:root {
  --orange-400: hsl(3, 86%, 64%);
  --redorange: hsl(3, 71%, 56%);
  --clicked-active: hsl(3, 77%, 44%);
  --dark-blue: hsl(227, 75%, 14%);
  --extension-dark: hsl(226, 25%, 17%);
  --sun-background: hsl(225, 23%, 24%);
  --neutral-600: hsl(226, 11%, 37%);
  --light-blue-200: hsl(217, 61%, 90%);
  --blur-background: hsl(0, 0%, 93%);
  --light-color: hsl(200, 60%, 99%);
  --container-shadow: 1px 3px 2px var(--light-blue-200);

  --light-gradient: linear-gradient(180deg, #ebf2fc 0%, #eef8f9 100%);
  --dark-gradient: linear-gradient(180deg, #040918 0%, #091540 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  min-height: calc(100vh - 1rem);
}

.body_light {
  background-image: var(--light-gradient);
  color: var(--dark-blue);
}

#container {
  width: 85%;
  min-width: 23rem;
  margin: auto;
  padding: 2rem 1rem;
}

.header {
  display: flex;
  padding: 0.4rem 0.7rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
}

.header__light {
  background-color: var(--light-color);
  box-shadow: var(--container-shadow);
}

.logo img {
  vertical-align: middle;
}

.theme__settings {
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  align-content: center;
  background-color: var(--blur-background);
  border-radius: 7px;
  cursor: pointer;
  border: none;
}

.theme__settings:hover {
  background-color: hsl(0, 0%, 78%);
}

.theme__settings:focus {
  border: 3px solid var(--light-color);
  outline: 2px solid var(--clicked-active);
}

.theme__settings img {
  vertical-align: middle;
}

/* ======= filter list tittle and buttons ===== */

.filtering {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0;
  text-align: center;
}

.filtered_title {
  margin: 8px 0;
  font-family: inherit;
  font-weight: 700;
  color: inherit;
  font-size: xx-large;
}

.filters__states {
  margin: 8px 0;
}

.filter_btn {
  margin: 0 0.2rem;
  padding: 0.4rem 1rem;
  border-radius: 20px;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: 1.2rem;
  cursor: pointer;
}

.filter_btn-light {
  background-color: var(--light-color);
  box-shadow: var(--container-shadow);
}

.filter_btn-clicked {
  background-color: var(--clicked-active);
  color: var(--blur-background);
}

.filter_btn:hover {
  background-color: hsl(0, 0%, 93%);
}

.filter_btn:focus {
  border: 3px solid var(--light-color);
  outline: 2px solid var(--clicked-active);
}

.filter_btn-clicked:hover {
  background-color: var(--redorange);
}

/* ====== Extensions Lists ======= */

.extension_list {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(22rem, auto)); */
  grid-auto-rows: 11.5rem;
  grid-gap: 0.7rem;
  justify-content: center;
}
/* ====== Extensions ======= */
.extension {
  border-radius: 20px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.extension_light {
  background-color: var(--light-color);
  box-shadow: var(--container-shadow);
}

.extension__image-container {
  display: flex;
  margin-bottom: 1rem;
}

.extension__image-container img {
  align-self: flex-start;
}
.extension__image-container div {
  margin-left: 1rem;
}

.extension__title {
  margin-bottom: 0.5rem;
}

.extension_light p {
  color: var(--extension-dark);
}

.extension__btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.extension_remove {
  padding: 0.4rem 0.8rem;
  border-radius: 20px;
  border: 1px solid rgba(84, 89, 105, 0.4);
  background-color: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: 500;
  cursor: pointer;
}

.extension_remove:hover {
  color: var(--blur-background);
  background-color: var(--clicked-active);
  border-color: var(--clicked-active);
}

.extension_remove:focus {
  border: 3px solid var(--light-color);
  outline: 2px solid var(--clicked-active);
}

/* Toggle switch */

.toggle__switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.toggle__switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  /* transition: 0.4s; */
  border-radius: 24px;
}

.slider:focus {
  border: 2px solid var(--light-color);
  outline: 2px solid var(--clicked-active);
}

.slider::before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--clicked-active);
}

input:checked + .slider:hover {
  background-color: var(--orange-400);
}

input:checked + .slider::before {
  transform: translateX(25px);
}

/* attribution: copyright */

.attribution {
  font-size: 0.8rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* ======= The Dark Theme ======= */
.moon {
  background-image: var(--dark-gradient);
  color: var(--blur-background);
}

.theme__settins-dark {
  background-color: var(--sun-background);
}

.theme__settins-dark:focus {
  border: 3px solid var(--extension-dark);
  outline: 2px solid var(--orange-400);
  background-color: var(--neutral-600);
}

.header__dark {
  background-color: var(--extension-dark);
}

.filter_btn-dark {
  background-color: var(--sun-background);
  color: var(--blur-background);
  border: 0.5px solid rgba(251, 253, 254, 0.2);
}

.theme__settins-dark:hover,
.filter_btn-dark:hover {
  background-color: var(--neutral-600);
}

.filter_btn-dark:focus {
  border: 3px solid var(--extension-dark);
  outline: 2px solid var(--orange-400);
  background-color: var(--neutral-600);
}

.filter_btn-clicked-dark {
  background-color: var(--orange-400);
  color: var(--dark-blue);
  border: none;
}

.filter_btn-clicked-dark:hover {
  background-color: var(--redorange);
  border-color: var(--redorange);
}

.filter_btn-clicked-dark:focus {
  border: 3px solid var(--extension-dark);
  outline: 2px solid var(--orange-400);
  background-color: var(--orange-400);
}

.extension__moon {
  background-color: var(--extension-dark);
  color: var(--blur-background);
  box-shadow: none;
  border: 0.5px solid rgba(251, 253, 254, 0.2);
}
.extension__moon p {
  color: var(--blur-background);
}

.extension__moon button {
  background-color: var(--extension-dark);
  color: var(--blur-background);
  border: 0.5px solid rgba(251, 253, 254, 0.3);
}

.extension__moon button:hover {
  background-color: var(--orange-400);
  color: var(--dark-blue);
  border-color: var(--orange-400);
}

.extension__moon button:focus {
  border: 3px solid var(--extension-dark);
  outline: 2px solid var(--orange-400);
  background-color: var(--neutral-600);
  color: var(--light-color);
}

input:checked + .slider.dark {
  background-color: var(--orange-400);
}

input:checked + .slider.dark:hover {
  background-color: var(--clicked-active);
}

.toggle__switch .dark:focus {
  border: 2px solid var(--extension-dark);
  outline: 2px solid var(--orange-400);
}

/* ======== media queries ======= */

@media (min-width: 47rem) {
  .extension_list {
    grid-template-columns: repeat(2, minmax(21rem, auto));
  }

  .filtering {
    margin-top: 1.5rem;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 71rem) {
  .extension_list {
    grid-template-columns: repeat(3, minmax(21rem, auto));
  }
}
